@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
    background-color: hsl(270, 20%, 96%);
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    height: 100vh;
}
.design-block {
    display: flex;
    height: 84%;
    width: 40%;        
    border-bottom: 2px solid hsl(264, 100%, 61%);
    border-radius: 0 0 55% 55%;
    position: relative;
    left: -11%;
    background: linear-gradient(to top right, hsl(264, 100%, 61%) 20%, hsl(293, 100%, 63%) 120%);
}
.chat-container {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 0;
    left: 0;    
    transform: translateY(32%) translateX(145%);
    width: 17%;
    min-width: 188.571px;
    min-height: 244.795px;
    height: 61%;
    z-index: 10;
    border-radius: 27px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
.chat-content {
    height: auto;
    width: 100%;
    margin: 10px;
    background-color: hsla(270, 20%, 96%, 1);
    border-radius: 18px;
    padding: 0;
    position:relative;
}
.user-style-block {
    border-radius: 18px 18px 6px 6px;
    height: 60px;
    width: 100%;
    background: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    margin: 0;
    align-self: flex-start;    
    position: relative;   
    border: 1px solid hsl(264, 100%, 61%);
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid hsla(264, 100%, 61%, 0.4);
}
.user-style-block-white {
    background-color: hsl(0, 0%, 100%);
    height:25px;
    width: 55%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-49.5%) translateY(-8px);
}
.user-heading {
    color: hsl(0, 0%, 100%);
    margin: 0;
    position: absolute;    
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    text-align: center;
}
.user-avatar-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0;
    transform: translateY(50%);
    margin-left: 10px;
    border: 1px solid red;
}
.user-name {   
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    transform: translate(-50%, 20%);
}
.user-name-text {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    text-align: start;
}
.user-status {
    width: 50%;
    position: absolute;
    top: calc(50% + 30px);
    line-height: 8px;
    text-align: left;
    left: 50%; 
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    transform: translate(-50%, -132%);
}
.user-status-text {
    color: hsl(276, 100%, 81%);
    font-size: 7px;
    font-weight: 700;
    margin: 0;
    text-align: start;
    letter-spacing: 0.5px;
}
.user-three-button-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    transform: translateY(50%);
    margin-right: 10px;
    border: 1px solid red;
}
.chat-messages{
    padding: 0 8px;
    margin-top: 10px;
}
.left-message {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 0 3px;
    border-radius: 8px;
    width:60%;
    background-color: hsl(276, 55%, 52%, .08);
    margin-bottom: 8px;
}
.left-message-text {
    color: hsl(276, 55%, 52%);
    font-size: 8px;
    font-weight: 700;
    margin: 0;   
    padding: 5px;
    line-height: 1.4;
}
.right-message {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding: 0 3px;
    border-radius: 8px;
    width: fit-content;
    white-space: normal;
    margin-left: auto;
    max-width: 64%;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 8px;
}
.right-message-text {
    color:hsl(271, 15%, 43%);
    font-size: 8px;
    font-weight: 700;
    margin: 0;   
    padding: 5px;
    line-height: 1.4;
}
.price-container {
    gap: 8px;
    flex-direction: column;
    display: flex;
}
.amount-message {
    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    height:auto;
    width: 65%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 3px;
}
.price-text-container {
    display: flex;
    background-color: transparent;
    width: 65%;
    border: 1px solid red;
}
.message-text {
    font-weight: 400;
    margin: 0;
    padding: 0 0 0 17px;
    text-align: left;
    font-size: 8px;
    line-height: 8px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.2px;
}
.message-price {
    font-weight: 700;
    margin: 0;
    padding: 0 5px 0 0;
    text-align: right;
    font-size: 14px;
    line-height: 8px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.2px;
    border: 1px solid red;
    margin-left: auto;
}
.chat-input {
    display: flex;  
    align-items: center;
    height: 32px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px 15px;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1); 
    margin: 15px 8px;    
    width: 83%;
}
.chat-input-field {
    flex: 1;
    border: none;
    outline: none;
    font-size: 11px;
    font-family: 'Rubik', sans-serif;
    padding: 5px;
    color: hsl(270, 20%, 96%);
    background-color: transparent;
    position: relative;
    top: -43px;
    left: 20px;
    font-size: 10px;
    top: -41px;
    font-weight: lighter;
    opacity: 0.3;
}
.booking-container {
    position: absolute;    
    top: 20%;
    left: 50%;
    transform: translate(10%, 60%);
    width: 450px;
    font-size: 16px;
}
.booking-title{
    color: hsl(271, 36%, 24%);
    letter-spacing: 0.5px;
}
.booking-text {
    color: hsl(270, 7%, 64%);
    line-height: 1.5;
}
